.recipe-page {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  gap: 30px;
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.recipe-header, .recipe-content, .time-info {
  grid-column: 1 / 2;
  justify-content: space-between;
}

.time-info {
  border-bottom: thin solid #cc5500;
  border-top: thin solid #cc5500;
  padding: 3%;
}
.prep {
  border-right: thin solid #cc5500;
  padding: 1%;
}

.cook {
  border-right: thin solid #cc5500;
  padding: 1%;
}

.total {
  padding: 1%;
}
.rating-meal-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.recipe-sidebar {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.meal-plan button {
  padding: 10px 20px;
  background-color: rgb(250, 166, 8);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-stars {
  display: flex;
  align-items: center;
}

.button-stars button {
  margin-right: auto;
}

.button-stars .stars {
  margin-left: auto;
}


.write-review-button {
  background-color: rgb(250, 166, 8);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}


.write-review-button:hover {
  background-color: #a75605;
}


.write-review-button {
  width: auto;
  max-width: 200px; 
}
.review-form-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
